@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import helper._

@(message: Option[String] = None)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.loliga.views.html.main(messages("signup.title")) {
    <link rel="stylesheet" href="@assets.path("stylesheets/signUp.css")">
    @if(message.nonEmpty) {
        <h1>@message.get</h1>
    }
    <h1>@messages("signup.header")</h1>
    <form id="signUpForm" novalidate action="/signUp" method="POST">
        @CSRF.formField
        <div class="form-group">
            <div class="row bordered-row signUpRow">
                <div class="col-md-4">
                    <label>Email</label>
                </div>
                <div class="col-md-8">
                    <input v-model="email" v-on:input="$v.email.$touch" v-bind:class="{error: $v.email.$error, valid: $v.email.$dirty && !$v.email.$invalid}"
                    type="email" class="form-control" name="email" id="email" placeholder="Email">
                    <span class="errorMsg" v-if="!$v.email.email">@messages("signup.invalid.email.message")</span>
                </div>
            </div>
            <div class="row bordered-row signUpRow">
                <div class="col-md-4">
                    <label>Name</label>
                </div>
                <div class="col-md-4">
                    <input v-model="firstName" v-on:input="$v.firstName.$touch" v-bind:class="{error: $v.firstName.$error, valid: $v.firstName.$dirty && !$v.firstName.$invalid}"
                    class="form-control" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="col-md-4">
                    <input v-model="lastName" v-on:input="$v.lastName.$touch" v-bind:class="{error: $v.lastName.$error, valid: $v.lastName.$dirty && !$v.lastName.$invalid}"
                    class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="row bordered-row signUpRow">
                <div class="col-md-4">
                    <label>Summoner Name</label>
                </div>
                <div class="col-md-6">
                    <input v-model="summonerName" v-on:input="$v.summonerName.$touch" v-bind:class="{error: $v.summonerName.$error, valid: $v.summonerName.$dirty && !$v.summonerName.$invalid}"
                    class="form-control" name="summonerName" id="summonerName" placeholder="Summoner Name">
                </div>
                <div class="col-md-2">
                    <select v-model="region" v-on:input="regionSelected = true" :class="{valid: regionSelected}"
                    name="region" class="regionSelect">
                        <option value="" disabled selected>Region</option>
                        <option>NA</option>
                    </select>
                </div>
            </div>
            <div class="row bordered-row signUpRow">
                <div class="col-md-4">
                    <label>Password</label>
                </div>
                <div class="col-md-4">
                    <section>
                        <input v-model="password" v-on:input="$v.password.$touch" v-bind:class="{error: $v.password.$error, valid: $v.password.$dirty && !$v.password.$invalid}"
                        type="password" class="form-control" name="password" id="password" placeholder="Password">
                        <span class="errorMsg" v-if="!$v.password.minLength">@messages("signup.password.minLength.message")</span>
                    </section>
                </div>
                <div class="col-md-4">
                    <input v-model="confirmPassword" v-on:input="$v.confirmPassword.$touch" v-bind:class="{error: $v.confirmPassword.$error, valid: $v.confirmPassword.$dirty && !$v.confirmPassword.$invalid}"
                    type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    <span class="errorMsg" v-if="!$v.confirmPassword.sameAsPassword">@messages("signup.password.mismatch.message")</span>
                </div>
            </div>
            <div class="row bordered-row signUpRow">
                <div class="col-md-12 text-center">
                    <button :disabled="$v.$invalid" type="submit" class="btn btn-lg signUpButton" id="sign-up-submit-button">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <script src="@assets.path("javascripts/signUp.js")"></script>
}
