@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages

@(page: String)(profileContent: Html)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

<link rel="stylesheet" href="@assets.path("stylesheets/account.css")">
<link rel="stylesheet" href="@assets.path("stylesheets/vuelidateForm.css")">
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Profile</h3>
        </div>
        <ul class="list-unstyled components">
            @if(page == "Account") {
                <li class="nav-item active">Account</li>
            } else {
                <li class="nav-item"><a href="@com.rxu.duoesports.controller.routes.AccountController.account">Account</a></li>
            }
            @if(page == "Password") {
                <li class="nav-item active">Password</li>
            } else {
                <li class="nav-item"><a href="@com.rxu.duoesports.controller.routes.AccountController.changePasswordPage">Password</a></li>
            }
            @if(page == "Player Info") {
                <li class="nav-item active">Player Info</li>
            } else {
                <li class="nav-item"><a href="@com.rxu.duoesports.controller.routes.AccountController.playerInfo">Player Info</a></li>
            }
            @if(page == "Summoner") {
                <li class="nav-item active">Summoner</li>
            } else {
                <li class="nav-item"><a href="@com.rxu.duoesports.controller.routes.AccountController.summoner">Summoner</a></li>
            }
            @if(page == "Add Summoner") {
                <li class="nav-sub-item active">&bull;Add</li>
            } else {
                <li class="nav-sub-item">&bull;<a href="@com.rxu.duoesports.controller.routes.VerificationController.addSummonerPage">Add</a></li>
            }
        </ul>
    </nav>
    <div id="profile-content">
        @profileContent
    </div>
</div>
