@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.views.html
@import com.rxu.duoesports.models.Timezone
@import com.rxu.duoesports.controller.routes

@(user: User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(messages("account.title"), Some(user)) {
    @html.account.accountSidebar("Account"){
        <h1>Account Settings</h1>
        <form v-on:submit="saveAccountSettings" id="accountSettingsForm" action="@routes.AccountController.updateAccountInfo">
            <h4 class="successMsgLarge" :class="{hidden: !saveAccountSuccess}">{{ saveAccountSuccessMsg }}</h4>
            <h4 class="errorMsgLarge" :class="{hidden: !saveAccountFailure}">{{ saveAccountFailureMsg }}</h4>
            @helper.CSRF.formField
            <div class="form-group">
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Email</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" disabled value="@user.email">
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Name</label>
                    </div>
                    <div class="col-md-4">
                        <input v-model="firstName" v-on:input="$v.firstName.$touch" v-bind:class="{error: $v.firstName.$error, valid: $v.firstName.$dirty && !$v.firstName.$invalid}"
                        class="form-control" autocomplete="fname" name="firstName" id="firstName" placeholder="@user.firstName">
                    </div>
                    <div class="col-md-4">
                        <input v-model="lastName" v-on:input="$v.lastName.$touch" v-bind:class="{error: $v.lastName.$error, valid: $v.lastName.$dirty && !$v.lastName.$invalid}"
                        class="form-control" autocomplete="lname" name="lastName" id="lastName" placeholder="@user.lastName">
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label for="timezone">Time-Zone</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <select class="form-control" name="timezone" form="accountSettingsForm">
                                <option @if(user.timezone == Timezone.EASTERN){selected="selected"}>Eastern</option>
                                <option @if(user.timezone == Timezone.CENTRAL){selected="selected"}>Central</option>
                                <option @if(user.timezone == Timezone.MOUNTAIN){selected="selected"}>Mountain</option>
                                <option @if(user.timezone == Timezone.PACIFIC){selected="selected"}>Pacific</option>
                                <option @if(user.timezone == Timezone.ALASKA){selected="selected"}>Alaska</option>
                                <option @if(user.timezone == Timezone.HAWAII){selected="selected"}>Hawaii</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-12">
                        <button :disabled="$v.$invalid" type="submit" class="btn btn-lg saveAccountButton" id="save-account-settings-button">Save</button>
                    </div>
                </div>
            </div>
        </form>
    }
    <script src="@assets.path("javascripts/account/account.js")"></script>
}