@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.util.TemplateHelpers

@(user: User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("account.title"), Some(user)) {
    @com.rxu.duoesports.views.html.account.accountSidebar("Add Summoner") {
        <h1>Add Summoner</h1>
        <form v-on:submit="addSummoner" id="addSummonerForm">
            @helper.CSRF.formField
            <div class="form-group">
                <div class="row bordered-row rowLargePadding">
                    <h4>Step 1: Enter your summoner information</h4>
                    <div class="col-md-4">
                        <label>Summoner</label>
                    </div>
                    <div class="col-md-6">
                        <input v-model="summonerName" v-on:input="$v.summonerName.$touch" v-bind:class="{error: $v.summonerName.$error, valid: $v.summonerName.$dirty && !$v.summonerName.$invalid}"
                        class="form-control" name="summonerName" id="summonerName" placeholder="Summoner Name">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select disabled class="form-control">
                                <option selected="selected">NA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <h4>Step 2: Generate a verification code</h4>
                    <div class="col-md-4">
                        <button v-on:click="generateCode" class="btn btn-lg generateCodeButton" id="generate-verification-code-button">Generate</button>
                    </div>
                    <div class="col-md-8">
                        <input v-model="verificationCode" v-on:input="$v.verificationCode.$touch" v-bind:class="{error: $v.verificationCode.$error, valid: $v.verificationCode.$dirty && !$v.verificationCode.$invalid}"
                        readonly class="form-control" name="verificationCode" id="verificationCode" placeholder="Copy This Code">
                        <span class="errorMsg" :class="{hidden: !generateVerificationFailure}">{{ generateVerificationFailureMsg }}</span>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <h4>Step 3: Copy the verification code into your LoL Account</h4>
                    <p>Open your League of Legends client and log into the account that you specified in step 1. Open your
                        account settings by clicking the gear in the top right hand corner of the client. Scroll through the
                        settings to find the "VERIFICATION" tab. In there, copy the code that you generated from step 2 into
                        the space provided and click save.
                    </p>
                    <img class="verificationInstructions" src="https://s3.amazonaws.com/duoesports-images/verification_instructions.png">
                </div>
                <div class="row bordered-row rowLargePadding">
                    <h4>After you have completed all the above steps, add your account for verification.</h4>
                    <div class="col-md-12">
                        <button :disabled="$v.$invalid" type="submit" class="btn btn-lg saveAccountButton" id="add-sumoner-button">Save</button>
                    </div>
                </div>
            </div>
        </form>
    }
    <script src="@assets.path("javascripts/account/addSummoner.js")"></script>
}