@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User

@(user: User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("home.title"), Some(user)) {
    @com.rxu.duoesports.views.html.account.accountSidebar("Password"){
        <h1>Change Password</h1>
        <form v-on:submit="changePassword" id="changePasswordForm">
            <div class="form-group">
                <div class="row bordered-row paddedRow">
                    <div class="col-md-4">
                        <label>Current Password</label>
                    </div>
                    <div class="col-md-8">
                        <input v-model="currentPassword" v-on:input="$v.currentPassword.$touch" v-bind:class="{error: $v.currentPassword.$error, valid: $v.currentPassword.$dirty && !$v.currentPassword.$invalid}"
                        type="password" autocomplete="current-password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current Password">
                    </div>
                </div>
                <div class="row bordered-row paddedRow">
                    <div class="col-md-4">
                        <label>New Password</label>
                    </div>
                    <div class="col-md-4">
                        <section>
                            <input v-model="password" v-on:input="$v.password.$touch" v-bind:class="{error: $v.password.$error, valid: $v.password.$dirty && !$v.password.$invalid}"
                            type="password" autocomplete="new-password" class="form-control" name="password" id="password" placeholder="New Password">
                            <span class="errorMsg" v-if="!$v.password.minLength">@messages("password.minLength.message")</span>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <input v-model="confirmPassword" v-on:input="$v.confirmPassword.$touch" v-bind:class="{error: $v.confirmPassword.$error, valid: $v.confirmPassword.$dirty && !$v.confirmPassword.$invalid}"
                        type="password" autocomplete="new-password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
                        <span class="errorMsg" v-if="!$v.confirmPassword.sameAsPassword">@messages("password.mismatch.message")</span>
                    </div>
                </div>
                <div class="row bordered-row paddedRow">
                    <div class="col-md-12">
                        <button :disabled="$v.$invalid" type="submit" class="btn btn-lg saveAccountButton" id="update-password-button">Update</button>
                    </div>
                </div>
            </div>
        </form>
    }
    <script src="@assets.path("javascripts/changePassword.js")"></script>
}