@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.models.Role
@import com.rxu.duoesports.util.TemplateHelpers

@(user: User, teamName: Option[String] = None)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("account.title"), Some(user)) {
    @com.rxu.duoesports.views.html.account.accountSidebar("Player Info"){
        <h1>Player Info</h1>
        <form v-on:submit="savePlayerInfo" id="playerInfoForm" action="@com.rxu.duoesports.controller.routes.AccountController.updatePlayerInfo">
            <h4 class="successMsgLarge" :class="{hidden: !savePlayerSuccess}">{{ savePlayerSuccessMsg }}</h4>
            <h4 class="errorMsgLarge" :class="{hidden: !savePlayerFailure}">{{ savePlayerFailureMsg }}</h4>
            @helper.CSRF.formField
            <div class="form-group">
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Profile Image</label>
                    </div>
                    <div class="col-md-5">
                        @if(user.profileImageUrl.isDefined) {
                            <img class="profileImage" src="@user.profileImageUrl.get">
                        }
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" role="uploadcare-uploader" name="profileImage"
                            @if(user.profileImageUrl.isDefined){value="@user.profileImageUrl.get"}
                            data-image-shrink="512x512 100%"
                            data-crop="512:512" />
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Team</label>
                    </div>
                    <div class="col-md-8">
                        <span class="playerFieldText">
                            @if(teamName.isDefined) {
                                <a href="@com.rxu.duoesports.controller.routes.TeamController.team(teamName.get)">@teamName.get</a>
                            } else {
                                @messages("account.playerInfo.team.none")
                            }
                        </span><!-- TODO: Leave Team -->
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Description</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5" name="description" maxLength="1000" placeholder="@messages("account.playerInfo.description.placeholder")">@user.description.map{desc=>@desc}</textarea>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Free Agent</label>
                        <img class="helpIcon" src="@TemplateHelpers.questionIcon" data-toggle="tooltip" data-placement="bottom" data-title="@messages("account.playerInfo.freeAgent.tooltip")">
                    </div>
                    <div class="col-md-8">
                        <input name="isFreeAgent" type="checkbox" @if(user.isFreeAgent){checked="checked"} data-toggle="toggle" data-on="Yes" data-off="No">
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Free Agent Roles</label>
                        <img class="helpIcon" src="@TemplateHelpers.questionIcon" data-toggle="tooltip" data-placement="bottom" data-title="@messages("account.playerInfo.freeAgentRoles.tooltip")">
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox"><input name="top"  type="checkbox" @if(user.freeAgentRoles.contains(Role.Top)){checked="checked"}>Top</label>
                        <label class="checkbox"><input name="jungle" type="checkbox" @if(user.freeAgentRoles.contains(Role.Jungle)){checked="checked"}>Jungle</label>
                        <label class="checkbox"><input name="mid" type="checkbox" @if(user.freeAgentRoles.contains(Role.Middle)){checked="checked"}>Middle</label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox"><input name="bottom" type="checkbox" @if(user.freeAgentRoles.contains(Role.Bottom)){checked="checked"}>Bottom</label>
                        <label class="checkbox"><input name="support" type="checkbox" @if(user.freeAgentRoles.contains(Role.Support)){checked="checked"}>Support</label>
                        <label class="checkbox"><input name="coach" type="checkbox" @if(user.freeAgentRoles.contains(Role.Coach)){checked="checked"}>Coach</label>
                        <label class="checkbox"><input name="analyst" type="checkbox" @if(user.freeAgentRoles.contains(Role.Analyst)){checked="checked"}>Analyst</label>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-4">
                        <label>Discord ID</label>
                        <img class="discordIcon" src="@TemplateHelpers.discordIcon">
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="discordId" placeholder="@messages("account.playerInfo.discord.placeholder")"
                            @if(user.discordId.isDefined && user.discordId.get.nonEmpty){value="@user.discordId.get"}>
                    </div>
                </div>
                <div class="row bordered-row rowLargePadding">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-lg saveAccountButton" id="save-player-profile-button">Save</button>
                    </div>
                </div>
            </div>
        </form>
    }
    <script src="@assets.path("javascripts/account/playerInfo.js")"></script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.2/uploadcare.full.min.js"></script>
}