@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.util.TemplateHelpers
@import com.rxu.duoesports.models.Team
@import com.rxu.duoesports.models.UserRole
@import com.rxu.duoesports.views.html

@(
    user: Option[User],
    team: Team,
    roster: Seq[User]
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(team.name, user) {
    @html.team.teamSidebar("Edit", team, user){
        <h1>Edit</h1>
    }
}