@import org.webjars.play.WebJarsUtil
@import play.api.i18n.Messages
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.models.Team
@import com.rxu.duoesports.controller.routes

@(
    page: String,
    team: Team,
    user: Option[User]
)(
    content: Html
)(
    implicit request: RequestHeader,
    messages: Messages,
    webJarsUtil: WebJarsUtil,
    assets: AssetsFinder
)

<link rel="stylesheet" href="@assets.path("stylesheets/sidebar.css")">
<link rel="stylesheet" href="@assets.path("stylesheets/team.css")">
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Team</h3>
        </div>
        <ul class="list-unstyled components">
            @if(page == "Info") {
                <li class="nav-item activeSidebar">Info</li>
            } else {
                <li class="nav-item"><a href="@routes.TeamController.team(team.name)">Info</a></li>
            }
            @user.map { user =>
                @if(user.canEditTeam(team.id)) {
                    @if(page == "Edit") {
                        <li class="nav-item activeSidebar">Edit</li>
                    } else {
                        <li class="nav-item"><a href="@routes.TeamController.editPage(team.name)">Edit</a></li>
                    }
                }
            }
            @if(page == "Matches") {
                <li class="nav-item activeSidebar">Matches</li>
            } else {
                <li class="nav-item"><a href="@routes.TeamController.team(team.name)">Matches</a></li>
            }
        </ul>
    </nav>
    <div id="sidebar-content">
        @content
    </div>
</div>
