@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.util.TemplateHelpers
@import com.rxu.duoesports.views.html
@import com.rxu.duoesports.models.Team
@import com.rxu.duoesports.models.UserRole

@(
    user: Option[User],
    team: Team,
    roster: Seq[User]
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(team.name, user) {
    @html.team.teamSidebar("Info", team, user){
        <div class="row">
            <div class="col-md-4">
                <img class="teamLogo" src="@team.logoUrl.getOrElse(TemplateHelpers.missingProfileImage)">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-11">
                        <h1>@team.name</h1>
                    </div>
                    <div class="col-md-1">
                        <!-- TODO: Report Page -->
                        <img class="reportButton" data-toggle="tooltip" data-placement="bottom" data-title="Report" src="@TemplateHelpers.reportIcon">
                    </div>
                </div>
                <div class="row bordered-row rowSmallPadding">
                    <h4 class="teamDivision">Division: @team.divisionId.getOrElse("TBD")</h4>
                </div>
                <ul>
                    <li>Wins: TBD</li>
                    <li>Losses: TBD</li>
                </ul>
            </div>
        </div>
        <div class="row rowLargePadding">
            @team.description.map { description =>
                <p>@description</p>
            }
        </div>
        <div class="row discordInfo">
            @team.discordServer.map { discordServer =>
                <div class="col-md-3">
                    <h4>Discord Server <img class="discordIcon" src="@TemplateHelpers.discordIcon"></h4>
                </div>
                <div class="col-md-9">
                    <h4 class="discordServer"><a href="@discordServer">@discordServer</a></h4>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Roster</h4>
            </div>
            <div class="col-md-9">
                <ul class="list-group">
                    @roster.map { player =>
                        <li class="list-group-item roster-item">
                            <div class="row">
                                <div class="col-md-4">
                                    @if(player.userRole == UserRole.Captain){
                                        <img class="rosterIcon" src="@TemplateHelpers.captainIcon" data-toggle="tooltip" data-placement="bottom" data-title="Captain">
                                    } else { @if(player.profileImageUrl.isDefined) {
                                        <img class="rosterIcon" src="@player.profileImageUrl.get">
                                    } else {
                                        <img class="rosterIcon" src="@TemplateHelpers.missingProfileImage">
                                    }}
                                    @player.summonerName.get
                                <!-- TODO: Link to player page -->
                                </div>
                                <div class="col-md-4">
                                    @player.teamRole.map { role =>
                                        <img class="rosterIcon" src="@TemplateHelpers.getRoleIcon(role)">
                                        @role
                                    }
                                </div>
                                <div class="col-md-4">
                                    <img class="rosterIcon" src="@TemplateHelpers.getRankIconUrl(player.rank.get)">
                                    @player.rank.get
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @if(team.isRecruiting) {
            <div class="row rowLargePadding">
                <div class="col-md-3">
                    <h4>Recruitment</h4>
                </div>
                <div class="col-md-9">
                    <ul class="list-group">
                    @team.recruitingRoles.map { role =>
                        <li class="list-group-item">
                            <img class="roleIcon" src="@TemplateHelpers.getRoleIcon(role)">
                            @role.toString
                        </li>
                    }
                    </ul>
                </div>
            </div>
        }
    }
}