body {
    padding-top: 50px;
}

.row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.bordered-row {
    border-top: 1px solid darkgray;
}

.content {
    width: 900px;
    margin: 0 auto;
    padding: 40px 15px;
}

textarea {
    resize: none;
}

.navbar {
    height: 50px;
}

.hidden {
    display: none;
}

#sign-in-menu {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.signInButton {
    background-color: #00b16a;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.15em;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 105px;
}

.panel-footer {
    background-color: white;
}

#rememberMe {
    margin: 15px 10px 0 -5px;
}
