.activeSidebar {
    color: black;
    border-left: 2px solid indianred;
}

.nav-item {
    padding: 5px 0 5px 5px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-content {
    width: 850px;
}

#sidebar {
    min-width: 150px;
    max-width: 150px;
}
