@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(message: Option[String] = None)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("signup.title")) {
    <link rel="stylesheet" href="@assets.path("stylesheets/signUp.css")">
    <link rel="stylesheet" href="@assets.path("stylesheets/vuelidateForm.css")">
    <h1>@messages("signup.header")</h1>
    <form id="signUpForm" v-on:submit="signUp" novalidate action="@com.rxu.duoesports.controller.routes.SignUpController.signUp" method="POST">
        @helper.CSRF.formField
        <h4 class="errorMsgLarge" :class="{hidden: signUpSuccess}">{{ signUpErrorMsg }}</h4>
        <div class="form-group">
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-4">
                    <label>Email</label>
                </div>
                <div class="col-md-8">
                    <input v-model="email" v-on:input="$v.email.$touch" v-bind:class="{error: $v.email.$error, valid: $v.email.$dirty && !$v.email.$invalid}"
                    type="email" autocomplete="username email" class="form-control" name="email" id="email" placeholder="Email">
                    <span class="errorMsg" v-if="!$v.email.email">@messages("signup.invalid.email.message")</span>
                </div>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-4">
                    <label>Name</label>
                </div>
                <div class="col-md-4">
                    <input v-model="firstName" v-on:input="$v.firstName.$touch" v-bind:class="{error: $v.firstName.$error, valid: $v.firstName.$dirty && !$v.firstName.$invalid}"
                    class="form-control" autocomplete="fname" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="col-md-4">
                    <input v-model="lastName" v-on:input="$v.lastName.$touch" v-bind:class="{error: $v.lastName.$error, valid: $v.lastName.$dirty && !$v.lastName.$invalid}"
                    class="form-control" autocomplete="lname" name="lastName" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-4">
                    <label>Password</label>
                </div>
                <div class="col-md-4">
                    <section>
                        <input v-model="password" v-on:input="$v.password.$touch" v-bind:class="{error: $v.password.$error, valid: $v.password.$dirty && !$v.password.$invalid}"
                        type="password" autocomplete="new-password" class="form-control" name="password" id="password" placeholder="Password">
                        <span class="errorMsg" v-if="!$v.password.minLength">@messages("password.minLength.message")</span>
                    </section>
                </div>
                <div class="col-md-4">
                    <input v-model="confirmPassword" v-on:input="$v.confirmPassword.$touch" v-bind:class="{error: $v.confirmPassword.$error, valid: $v.confirmPassword.$dirty && !$v.confirmPassword.$invalid}"
                    type="password" autocomplete="new-password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    <span class="errorMsg" v-if="!$v.confirmPassword.sameAsPassword">@messages("password.mismatch.message")</span>
                </div>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-12 text-center">
                    <button :disabled="$v.$invalid" type="submit" class="btn btn-lg signUpButton" id="sign-up-submit-button">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <script src="@assets.path("javascripts/signUp.js")"></script>
}
