@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.views.html

@(resendUrl: Option[String])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(messages("signup.title")) {
    <link rel="stylesheet" href="@assets.path("stylesheets/signUp.css")">
    <div class="row text-center rowSmallPadding">
        <h3>@messages("signup.success")</h3>
    </div>
    @if(resendUrl.isDefined){
        @html.forms.resendActivationForm(resendUrl.get)
    }

}