@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil

@()(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("forgotPassword.title")) {
    <link rel="stylesheet" href="@assets.path("stylesheets/vuelidateForm.css")">
    <link rel="stylesheet" href="@assets.path("stylesheets/resetPassword.css")">
    <h1>@messages("forgotPassword.header")</h1>
    <form id="sendResetPasswordForm" v-on:submit="sendResetPassword" action="@com.rxu.duoesports.controller.routes.ResetPasswordController.sendResetPasswordEmail">
        @helper.CSRF.formField
        <h4 class="successMsgLarge text-center" :class="{hidden: !sendResetEmailSuccess}">{{ sendResetEmailMsg }}</h4>
        <h4 class="errorMsgLarge text-center" :class="{hidden: !sendResetEmailFailure}">{{ sendResetEmailMsg }}</h4>
        <div class="form-group">
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-4">
                    <label>Email</label>
                </div>
                <div class="col-md-8">
                    <input v-model="email" v-on:input="$v.email.$touch" v-bind:class="{error: $v.email.$error, valid: $v.email.$dirty && !$v.email.$invalid}"
                    type="email" autocomplete="username email" class="form-control" name="email" id="email" placeholder="Enter the email that you used to sign up">
                    <span class="errorMsg" v-if="!$v.email.email">Invalid email format</span>
                </div>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-12 text-center">
                    <button :disabled="$v.$invalid" type="submit" class="btn btn-lg" id="sendResetPasswordButton">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
    <script src="@assets.path("javascripts/resetPassword/forgotPassword.js")"></script>
}
