@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.views.html
@import com.rxu.duoesports.controller.routes

@(valid: Boolean, tokenId: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(messages("resetPassword.title")) {
    <link rel="stylesheet" href="@assets.path("stylesheets/vuelidateForm.css")">
    <link rel="stylesheet" href="@assets.path("stylesheets/resetPassword.css")">
    <h1>@messages("resetPassword.header")</h1>
    @if(valid) {
        <form id="resetPasswordForm" v-on:submit="resetPassword" action="@routes.ResetPasswordController.resetPassword(tokenId)">
            <h4 class="successMsgLarge text-center" :class="{hidden: !changePasswordSuccess}">{{ changePasswordSuccessMsg }}</h4>
            <h4 class="errorMsgLarge text-center" :class="{hidden: !changePasswordFailure}">{{ changePasswordFailureMsg }}</h4>
            @helper.CSRF.formField
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-4">
                    <label>New Password</label>
                </div>
                <div class="col-md-4">
                    <section>
                        <input v-model="password" v-on:input="$v.password.$touch" v-bind:class="{error: $v.password.$error, valid: $v.password.$dirty && !$v.password.$invalid}"
                            type="password" autocomplete="new-password" class="form-control" name="password" id="password" placeholder="New Password">
                        <span class="errorMsg" v-if="!$v.password.minLength">@messages("password.minLength.message")</span>
                    </section>
                </div>
                <div class="col-md-4">
                    <input v-model="confirmPassword" v-on:input="$v.confirmPassword.$touch" v-bind:class="{error: $v.confirmPassword.$error, valid: $v.confirmPassword.$dirty && !$v.confirmPassword.$invalid}"
                        type="password" autocomplete="new-password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
                    <span class="errorMsg" v-if="!$v.confirmPassword.sameAsPassword">@messages("password.mismatch.message")</span>
                </div>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-12 text-center">
                    <button :disabled="$v.$invalid" type="submit" class="btn btn-lg" id="sendResetPasswordButton">Reset Password</button>
                </div>
            </div>
        </form>
    } else {
        <h4 class="text-center">@messages("resetPassword.invalid.msg")</h4>
    }
    <script src="@assets.path("javascripts/resetPassword/resetPassword.js")"></script>
}
