@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String, user: Option[com.rxu.loliga.models.User] = None)(content: Html)(implicit request: RequestHeader, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        @Html(webJarsUtil.css("bootstrap.min.css"))
        @Html(webJarsUtil.css("bootstrap-theme.min.css"))
        @Html(webJarsUtil.script("jquery.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
        @Html(webJarsUtil.script("vue.js"))
        @Html(webJarsUtil.script("vuelidate.min.js"))
        @Html(webJarsUtil.script("validators.min.js"))
        <link rel="stylesheet" href="@assets.path("stylesheets/main.css")">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">LoLiga</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a>Players</a></li>
                        <li><a>Teams</a></li>
                        <li><a>Divisions</a></li>
                        <li><a>Info</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @if(user.isEmpty) {
                        <li>
                            <a href="#" v-on:click="showSignIn" v-on:click.self.prevent>Sign In</a>
                            <div id="sign-in-menu" class="panel panel-default" :class="{hidden: isHidden}">
                                <div class="panel-body">
                                    <form id="signInForm">
                                        <div class="form-group">
                                            <div class="row">
                                                <input type="email" class="form-control" name="signInEmail" id="signInEmail" placeholder="Email">
                                            </div>
                                            <div class="row">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-sm signInButton" id="sign-in">
                                                Sign-In</button>
                                        </div>
                                        <div class="col-md-6 btn-group">
                                            <a href="/signUp" class="btn btn-sm signInButton">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="content">@content</div>
        </div>
        <script src="@assets.path("javascripts/main.js")"></script>
    </body>
</html>