@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.util.TemplateHelpers
@import com.rxu.duoesports.models.Team

@(
    user: Option[User],
    teams: Seq[Team],
    pageNumber: Int,
    teamCount: Int
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("teams.title"), user) {
    <link rel="stylesheet" href="@assets.path("stylesheets/teams.css")">
    <link rel="stylesheet" href="@assets.path("stylesheets/sidebar.css")">
    <div class="wrapper">
        <nav id="sidebar">
            <form id="searchForm">
                @helper.CSRF.formField
                <ul class="list-unstyled components searchSidebar">
                    <li>
                        <input class="form-control" name="search" placeholder="Search">
                    </li>
                    <li>
                        <a href="#divisionSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Division</a>
                        <ul class="collapse list-unstyled" id="divisionSubmenu"> <!-- TODO: implement -->
                            <li> <label class="checkbox searchCheckbox"><input name="bsgcs" type="checkbox">BSGCS</label></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#recruitingSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Recruiting?</a>
                        <ul class="collapse list-unstyled" id="recruitingSubmenu">
                            <li> <label class="checkbox searchCheckbox"><input name="isRecruiting" type="checkbox">Yes</label></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#recruitingRolesSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Recruiting Roles</a>
                        <ul class="collapse list-unstyled" id="recruitingRolesSubmenu">
                            <li><label class="checkbox searchCheckbox"><input name="top" type="checkbox">Top</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="jungle" type="checkbox">Jungle</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="middle" type="checkbox">Middle</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="bottom" type="checkbox">Bottom</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="support" type="checkbox">Support</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="coach" type="checkbox">Coach</label></li>
                            <li><label class="checkbox searchCheckbox"><input name="analyst" type="checkbox">Analyst</label></li>
                        </ul>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-lg searchButton">Search</button>
                    </li>
                </ul>
            </form>
        </nav>
        <div id="sidebar-content">
            <h1>@messages("teams.header")</h1>
            @teams.map { team =>
                <div class="row teamRow rowSmallPadding">
                    <div class="col-md-3">
                        @if(team.logoUrl.isDefined) {
                            <img class="teamLogo" src="@team.logoUrl.get">
                        }
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <h2 class="teamName">@team.name</h2>
                        </div>
                        <div class="row">
                            <h4 class="teamDivision">Division: @team.divisionId.getOrElse("N/A")</h4>
                        </div>
                        <ul>
                            <li>Wins: TBD</li>
                            <li>Lossess: TBD</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="row"><h4>Recruiting: @if(team.isRecruiting){Yes} else { No }</h4></div>
                        @if(team.isRecruiting) {
                            <div class="row"><h4>Roles:</h4></div>
                            <ul>
                                @team.recruitingRoles.map { role =>
                                  <li>@role</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
            <div class="row rowSmallPadding text-center">
                <ul class="list-inline">
                @TemplateHelpers.getTeamListNavigation(pageNumber, teamCount)
                </ul>
            </div>
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-12 text-center">
                @if(TemplateHelpers.canCreateTeam(user)) {
                    <a href="@com.rxu.duoesports.controller.routes.TeamController.createPage">
                        <button type="submit" class="btn btn-lg createTeamButton">Create Team</button>
                    </a>
                } else {
                    <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="bottom"
                    data-title="@messages("teams.cantCreate.placeholder")">
                        <button disabled type="submit" class="btn btn-lg createTeamButton disabledButtonTooltip">Create Team</button>
                    </div>
                }
                </div>
            </div>
            <script src="@assets.path("javascripts/teams/teams.js")"></script>
        </div>
    </div>

}