@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.models.User
@import com.rxu.duoesports.util.TemplateHelpers
@import com.rxu.duoesports.models.Team
@import com.rxu.duoesports.models.Role.Role

@(
    user: Option[User],
    teams: Seq[Team],
    pageNumber: Int,
    teamCount: Int,
    queryString: String,
    search: Option[String] = None,
    isRecruiting: Boolean = false,
    rolesFilter: Seq[Role] = Seq.empty
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@com.rxu.duoesports.views.html.main(messages("teams.title"), user) {
    <link rel="stylesheet" href="@assets.path("stylesheets/teams.css")">
    <link rel="stylesheet" href="@assets.path("stylesheets/sidebar.css")">
    <div class="wrapper">
        <nav id="sidebar">
            <form id="searchForm">
                <ul class="list-unstyled components searchSidebar">
                    <li>
                        <input class="form-control" name="search" placeholder="Search" @if(search.isDefined){value="@search.get"}>
                    </li>
                    <li>
                        <a href="#divisionSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Division</a>
                        <ul class="collapse list-unstyled" id="divisionSubmenu"> <!-- TODO: implement -->
                            <li><label class="checkbox searchCheckbox"><input name="bsgcs" type="checkbox">BSGCS</label></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#recruitingSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Recruiting?</a>
                        <ul class="collapse list-unstyled @if(isRecruiting){collapse in}" id="recruitingSubmenu">
                            <li>
                                <label class="checkbox searchCheckbox">
                                    <input name="isRecruiting" type="checkbox" @if(isRecruiting){checked="checked"}>Yes
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#recruitingRolesSubmenu" data-toggle="collapse" aria-expanded="false">&#9660 Recruiting Roles</a>
                        <ul class="collapse list-unstyled @if(rolesFilter.nonEmpty){collapse in}" id="recruitingRolesSubmenu">
                            <li><label class="checkbox searchCheckbox">
                                <input name="top" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Top)){checked="checked"}>Top
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="jungle" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Jungle)){checked="checked"}>Jungle
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="middle" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Middle)){checked="checked"}>Middle
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="bottom" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Bottom)){checked="checked"}>Bottom
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="support" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Support)){checked="checked"}>Support
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="coach" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Coach)){checked="checked"}>Coach
                            </label></li>
                            <li><label class="checkbox searchCheckbox">
                                <input name="analyst" type="checkbox" @if(rolesFilter.contains(com.rxu.duoesports.models.Role.Analyst)){checked="checked"}>Analyst
                            </label></li>
                        </ul>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-lg searchButton">Search</button>
                    </li>
                </ul>
            </form>
        </nav>
        <div id="sidebar-content">
            <h1>@messages("teams.header")</h1>
            @if(teams.isEmpty) {
                <div class="row teamRow rowLargePadding">
                    <h3 class="text-center">No Results Found</h3>
                </div>
            } else {
                @teams.map { team =>
                    <div class="row teamRow rowSmallPadding">
                        <div class="col-md-3">
                            @if(team.logoUrl.isDefined) {
                                <img class="teamLogo" src="@team.logoUrl.get">
                            }
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <h2 class="teamName">
                                    <a href="@com.rxu.duoesports.controller.routes.TeamController.team(team.name)">@team.name</a>
                                </h2>
                            </div>
                            <div class="row">
                                <h4 class="teamDivision">Division: @team.divisionId.getOrElse("TBD")</h4>
                            </div>
                            <ul>
                                <li>Wins: TBD</li>
                                <li>Losses: TBD</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="row"><h4>Recruiting: @if(team.isRecruiting){Yes} else { No }</h4></div>
                            @if(team.isRecruiting) {
                                <div class="row"><h4>Roles:</h4></div>
                                <ul>
                                    @team.recruitingRoles.map { role =>
                                      <li>@role</li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
                <div class="row rowSmallPadding text-center">
                    <ul class="list-inline">
                    @TemplateHelpers.getTeamListNavigation(pageNumber, teamCount, queryString)
                    </ul>
                </div>
            }
            <div class="row bordered-row rowLargePadding">
                <div class="col-md-12 text-center">
                @if(TemplateHelpers.canCreateTeam(user)) {
                    <a href="@com.rxu.duoesports.controller.routes.TeamsController.createPage">
                        <button type="submit" class="btn btn-lg createTeamButton">Create Team</button>
                    </a>
                } else {
                    <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="bottom"
                    data-title="@messages("teams.cantCreate.placeholder")">
                        <button disabled type="submit" class="btn btn-lg createTeamButton disabledButtonTooltip">Create Team</button>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>

}