@import play.api.i18n.Messages
@import org.webjars.play.WebJarsUtil
@import com.rxu.duoesports.views.html

@(errorMsg: Option[String] = None, resendUrl: Option[String] = None)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@html.main(messages("activation.title")) {
    @if(errorMsg.isEmpty){
        <div class="row text-center rowSmallPadding">
            <h3>@messages("activation.success")</h3>
        </div>
    } else {
        <div class="row text-center rowSmallPadding">
            <h3>@messages("activation.failure"): @errorMsg.get</h3>
        </div>
        @if(resendUrl.isDefined){
            @html.forms.resendActivationForm(resendUrl.get)
        }
    }
}