@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import com.rxu.duoesports.controller.routes

@(title: String, user: Option[com.rxu.duoesports.models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        @Html(webJarsUtil.css("bootstrap.min.css"))
        @Html(webJarsUtil.css("bootstrap-theme.min.css"))
        @Html(webJarsUtil.css("bootstrap-toggle.min.css"))
        @Html(webJarsUtil.script("jquery.js"))
        @Html(webJarsUtil.script("umd/popper.min.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
        @Html(webJarsUtil.script("bootstrap-toggle.min.js"))
        @Html(webJarsUtil.script("vue.js"))
        @Html(webJarsUtil.script("vue-resource.js"))
        @Html(webJarsUtil.script("vuelidate.min.js"))
        @Html(webJarsUtil.script("validators.min.js"))
        <link rel="stylesheet" href="@assets.path("stylesheets/main.css")">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="banner-image" href="/"><img class="banner-image" src="https://s3.amazonaws.com/duoesports-images/DuoEsports2.png"></a>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand">Players</a></li>
                        <li><a class="navbar-brand" href="@routes.TeamsController.teams()">Teams</a></li>
                        <li><a class="navbar-brand">Divisions</a></li>
                        <li><a class="navbar-brand">Info</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @if(user.isEmpty) {
                        <li>
                            <a class="navbar-brand" href="#" v-on:click="showSignIn" v-on:click.self.prevent>Sign In</a>
                            <div id="sign-in-menu" class="panel panel-default" :class="{hidden: isHidden}">
                                <form id="signInForm" v-on:submit="signIn" novalidate action="@routes.SignInController.signIn" method="POST">
                                    @helper.CSRF.formField
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row rowSmallPadding">
                                                <input v-model="signInEmail" v-on:input="$v.signInEmail.$touch" v-bind:class="{error: $v.signInEmail.$error, valid: $v.signInEmail.$dirty && !$v.signInEmail.$invalid}"
                                                type="email" autocomplete="username email" class="form-control" name="signInEmail" id="signInEmail" placeholder="Email">
                                            </div>
                                            <div class="row rowSmallPadding">
                                                <input v-model="signInPassword" v-on:input="$v.signInPassword.$touch" v-bind:class="{error: $v.signInPassword.$error, valid: $v.signInPassword.$dirty && !$v.signInPassword.$invalid}"
                                                type="password" autocomplete="current-password" class="form-control" name="signInPassword" id="signInPassword" placeholder="Password">
                                            </div>
                                            <span class="errorMsg" :class="{hidden: signInSuccess}">{{ signInErrorMsg }}</span>
                                            <div class="row">
                                                <div class="col-md-6 form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe">
                                                        Remember Me
                                                    </label>
                                                </div>
                                                <div class="col-md-6 forgotPassword">
                                                    <a href="@routes.ResetPasswordController.view">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row rowSmallPadding">
                                            <div class="col-md-6">
                                                <button :disabled="$v.$invalid" type="submit" class="btn btn-sm signInButton" id="sign-in">Sign-In</button>
                                            </div>
                                            <div class="col-md-6 btn-group">
                                                <a href="@routes.SignUpController.view" class="btn btn-sm signInButton">
                                                    Register</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    } else {
                        <li>
                            <a class="navbar-brand" href="#" v-on:click="showProfileMenu" v-on:click.self.prevent>@user.get.firstName</a>
                            <div id="profile-menu" class="panel panel-default" :class="{hidden: isHidden}">
                                <div class="panel-body">
                                    <a href="@routes.AccountController.account">Account Settings</a>
                                    @if(user.get.teamId.isDefined) {
                                        <a href="@routes.TeamController.teamById(user.get.teamId.get)">My Team</a>
                                    }
                                </div>
                                <div class="panel-footer">
                                    <a href="@routes.SignInController.signOut">Sign-Out</a>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="content">@content</div>
        </div>
            <footer>
                <div class="copyright">
                    <span>© 2018 Copyright: DuoEsports.com</span>
                </div>
            </footer>
        <script src="@assets.path("javascripts/main.js")"></script>
    </body>
</html>